In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
file = "C:/Users/ANIKET GAIKWAD/Desktop/deliveries.csv"
df = pd.read_csv(file)

In [3]:
df =df.replace('Sunrisers Hyderabad', 'SRH')
df =df.replace('Royal Challengers Bangalore', 'RCB')
df =df.replace('Mumbai Indians', 'MI')
df =df.replace('Rising Pune Supergiant', 'RPS')
df =df.replace('Gujarat Lions', 'GL')
df =df.replace('Kings XI Punjab', 'KXIP')
df =df.replace('Kolkata Knight Riders', 'KKR')
df =df.replace('Chennai Super Kings', 'CSK')
df =df.replace('Deccan Chargers', 'DC')
df =df.replace('Pune Warriors', 'PWI')
df =df.replace('Kochi Tuskers Kerala', 'KT')
df =df.replace('Rajasthan Royals', 'RR')
df=df.replace('Delhi Daredevils', 'DD')
df =df.replace('Rising Pune Supergiants', 'RPS')

df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,SRH,RCB,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,SRH,RCB,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,SRH,RCB,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,SRH,RCB,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,SRH,RCB,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [17]:
dfmi1 = df[df['batting_team']=='MI']
dfmi2 = df[df['bowling_team']=='MI']
dfmi = pd.concat([dfmi1,dfmi2])
dfmi.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
248,2,1,MI,RPS,1,1,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
249,2,1,MI,RPS,1,2,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
250,2,1,MI,RPS,1,3,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
251,2,1,MI,RPS,1,4,JC Buttler,PA Patel,AB Dinda,0,...,0,0,0,0,5,0,5,NaN,NaN,NaN
252,2,1,MI,RPS,1,5,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
dfmi1['batsman'].value_counts()

RG Sharma            2365
SR Tendulkar         2044
AT Rayudu            1964
KA Pollard           1674
LMP Simmons           878
PA Patel              724
KD Karthik            639
Harbhajan Singh       591
ST Jayasuriya         573
DR Smith              494
JP Duminy             468
DJ Bravo              401
SS Tiwary             397
JC Buttler            375
N Rana                355
AM Nayar              348
KH Pandya             313
JEC Franklin          309
HH Pandya             306
RV Uthappa            291
CJ Anderson           284
AP Tare               245
S Dhawan              226
MEK Hussey            187
AM Rahane             147
A Symonds             143
R Sathish             133
CM Gautam             116
SM Pollock            116
SL Malinga            103
                     ...
Z Khan                 31
JJ Bumrah              27
GJ Maxwell             27
S Gopal                27
PP Ojha                26
TG Southee             23
MA Khote               22
R Dhawan               21
AN Ahmed               21
C Madan                21
RR Raje                18
GR Napier              16
CJ McKay               15
R Vinay Kumar          14
A Nehra                13
Mohammad Ashraful      12
RP Singh               12
NLTC Perera            12
MK Pandey              10
SD Chitnis             10
MM Patel                8
NM Coulter-Nile         6
STR Binny               5
AG Murtaza              5
SA Yadav                4
CRD Fernando            3
VS Yeligati             2
M de Lange              2
P Kumar                 2
C Nanda                 1
Name: batsman, Length: 81, dtype: int64

# RUN ANALYSIS : ROHIT SHARMA

In [6]:
rgsharma = dfmi1[dfmi1['batsman']=='RG Sharma']
rgsharma.head(10000)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
275,2,1,MI,RPS,5,3,RG Sharma,JC Buttler,Imran Tahir,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
276,2,1,MI,RPS,5,4,RG Sharma,JC Buttler,Imran Tahir,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
278,2,1,MI,RPS,5,6,RG Sharma,JC Buttler,Imran Tahir,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
279,2,1,MI,RPS,6,1,RG Sharma,JC Buttler,DL Chahar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
285,2,1,MI,RPS,7,1,RG Sharma,JC Buttler,Imran Tahir,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
286,2,1,MI,RPS,7,2,RG Sharma,JC Buttler,Imran Tahir,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
287,2,1,MI,RPS,7,3,RG Sharma,JC Buttler,Imran Tahir,0,...,0,0,0,0,0,0,0,RG Sharma,bowled,NaN
1609,7,2,MI,KKR,9,4,RG Sharma,N Rana,AS Rajpoot,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1610,7,2,MI,KKR,9,5,RG Sharma,N Rana,AS Rajpoot,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1612,7,2,MI,KKR,10,1,RG Sharma,N Rana,SP Narine,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1613,7,2,MI,KKR,10,2,RG Sharma,N Rana,SP Narine,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1614,7,2,MI,KKR,10,3,RG Sharma,N Rana,SP Narine,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1616,7,2,MI,KKR,10,5,RG Sharma,N Rana,SP Narine,0,...,0,0,0,0,0,0,0,RG Sharma,lbw,NaN
2261,10,2,MI,SRH,4,2,RG Sharma,PA Patel,A Nehra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2262,10,2,MI,SRH,4,3,RG Sharma,PA Patel,A Nehra,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
2266,10,2,MI,SRH,5,1,RG Sharma,PA Patel,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2270,10,2,MI,SRH,5,5,RG Sharma,PA Patel,Rashid Khan,0,...,0,0,0,0,0,0,0,RG Sharma,lbw,NaN
2725,12,2,MI,RCB,2,6,RG Sharma,PA Patel,STR Binny,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2729,12,2,MI,RCB,3,4,RG Sharma,N Rana,S Badree,0,...,0,0,0,0,0,0,0,RG Sharma,bowled,NaN
3754,16,2,MI,GL,10,3,RG Sharma,JC Buttler,AJ Tye,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3756,16,2,MI,GL,10,5,RG Sharma,JC Buttler,AJ Tye,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3760,16,2,MI,GL,11,3,RG Sharma,JC Buttler,RA Jadeja,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3762,16,2,MI,GL,11,5,RG Sharma,JC Buttler,RA Jadeja,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3763,16,2,MI,GL,11,6,RG Sharma,JC Buttler,RA Jadeja,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3768,16,2,MI,GL,12,5,RG Sharma,KA Pollard,MM Patel,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
3769,16,2,MI,GL,12,6,RG Sharma,KA Pollard,MM Patel,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3771,16,2,MI,GL,13,2,RG Sharma,KA Pollard,Basil Thampi,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3773,16,2,MI,GL,13,4,RG Sharma,KA Pollard,Basil Thampi,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3775,16,2,MI,GL,13,6,RG Sharma,KA Pollard,Basil Thampi,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3777,16,2,MI,GL,14,2,RG Sharma,KA Pollard,MM Patel,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147211,623,1,MI,DD,3,1,RG Sharma,MJ Guptill,Z Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
147212,623,1,MI,DD,3,2,RG Sharma,MJ Guptill,Z Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
147214,623,1,MI,DD,3,4,RG Sharma,MJ Guptill,Z Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
147215,623,1,MI,DD,3,5,RG Sharma,MJ Guptill,Z Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
147217,623,1,MI,DD,4,1,RG Sharma,MJ Guptill,CH Morris,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
147220,623,1,MI,DD,4,4,RG Sharma,MJ Guptill,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
147221,623,1,MI,DD,4,5,RG Sharma,MJ Guptill,CH Morris,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
147222,623,1,MI,DD,4,6,RG Sharma,MJ Guptill,CH Morris,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
147228,623,1,MI,DD,5,6,RG Sharma,MJ Guptill,Z Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
147229,623,1,MI,DD,6,1,RG Sharma,MJ Guptill,S Nadeem,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
147231,623,1,MI,DD,6,3,RG Sharma,MJ Guptill,S Nadeem,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
147232,623,1,MI,DD,6,4,RG Sharma,MJ Guptill,S Nadeem,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
147237,623,1,MI,DD,7,3,RG Sharma,MJ Guptill,A Mishra,0,...,0,0,0,0,0,0,0,RG Sharma,caught,RR Pant
148765,630,1,MI,GL,1,1,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148766,630,1,MI,GL,1,2,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
148767,630,1,MI,GL,1,3,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148768,630,1,MI,GL,1,4,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148769,630,1,MI,GL,1,5,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148770,630,1,MI,GL,1,6,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
148774,630,1,MI,GL,2,4,RG Sharma,MJ Guptill,DS Kulkarni,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
148775,630,1,MI,GL,2,5,RG Sharma,MJ Guptill,DS Kulkarni,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148776,630,1,MI,GL,2,6,RG Sharma,MJ Guptill,DS Kulkarni,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
148778,630,1,MI,GL,3,2,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148779,630,1,MI,GL,3,3,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148780,630,1,MI,GL,3,4,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
148781,630,1,MI,GL,3,5,RG Sharma,MJ Guptill,P Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
148783,630,1,MI,GL,4,1,RG Sharma,MJ Guptill,DS Kulkarni,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
148785,630,1,MI,GL,4,3,RG Sharma,MJ Guptill,DS Kulkarni,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148786,630,1,MI,GL,4,4,RG Sharma,MJ Guptill,DS Kulkarni,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
148787,630,1,MI,GL,4,5,RG Sharma,MJ Guptill,DS Kulkarni,0,...,0,0,0,0,0,0,0,RG Sharma,caught,SB Jakati

In [7]:
rgsharma['extra_runs'].value_counts()

0    2300
1      58
2       4
4       2
3       1
Name: extra_runs, dtype: int64

In [8]:
rgsavg = rgsharma[['bowling_team','extra_runs','total_runs']].head(200000)

In [9]:
rgsavg1 = rgsavg.groupby(['bowling_team']).sum().reset_index()

In [10]:
rgsavg1.head(100000)

   bowling_team  extra_runs  total_runs
0           CSK           9         453
1            DC           3         178
2            DD          11         496
3            GL           0          82
4           KKR          20         614
5          KXIP           8         290
6           PWI           2         137
7           RCB          12         312
8           RPS           6         184
9            RR           6         199
10          SRH           0         169

In [11]:
rgsavg1['total_runs'].sum()

3114

In [12]:
rgsavg1['extra_runs'].sum()

77

In [18]:
rgsharma['match_id'].head()

275    2
276    2
278    2
279    2
285    2
Name: match_id, dtype: int64

In [14]:
rgsharmat = rgsharma.groupby(['match_id']).sum().reset_index()

In [19]:
rgsharmat.head()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
0,2,7,42,20,0,0,0,0,0,0,3,0,3
1,7,12,58,20,0,0,0,0,0,0,2,0,2
2,10,8,18,11,0,0,0,0,0,0,4,0,4
3,12,4,5,10,0,0,0,0,0,0,0,0,0
4,16,58,440,107,0,0,0,0,0,0,40,0,40

In [ ]:
rgsharmamatches = rgsharma['match_id'].unique()

In [ ]:
len(rgsharmamatches)

In [ ]:
rgsharma1 = rgsharma[rgsharma['extra_runs']!=0].head(5000)

In [ ]:
rgsharma1['total_runs'].value_counts() #Extra runs when rohit was batting

## HOW ROHIT SCORES HIS RUNS :

In [ ]:
rgsharma['total_runs'].value_counts() #total runs when rohit was batting

## TOTAL RUNS (2008 -2017)

In [ ]:
rgsharma['total_runs'].sum() - 86#rohit's total runs

## ROHIT AGAINST DIFFERENT BOWLERS:

In [ ]:
rgsharma11 = rgsharma[['bowler','batsman_runs']].head(5000)

In [ ]:
rgsharmab = rgsharma11.groupby(['bowler']).sum().reset_index()

In [ ]:
rgsharmab.sort_values(by =['batsman_runs'],ascending = False)

## ROHIT'S DISMISSAL ANALYSIS :

In [ ]:
rgswicket = rgsharma[rgsharma['player_dismissed']== 'RG Sharma'].head(500)

In [ ]:
rgswicket.head(500)

## ROHIT'S WICKET-TAKERS IN IPL(2008-2017)

In [ ]:
rgswicket['bowler'].value_counts()

## ROHIT'S DISMISSAL KIND :

In [ ]:
rgswicket['dismissal_kind'].value_counts()

# RUN ANALYSIS : SACHIN TENDULKAR

In [ ]:
srt = dfmi1[dfmi1['batsman']=='SR Tendulkar'].head(5000)

In [ ]:
srt1 = srt[srt['extra_runs']!=0].head(5000)

In [ ]:
srt1['total_runs'].value_counts() # extra runs scored when sachin was batting

In [ ]:
srt['total_runs'].value_counts()  #total runs scored when sachin was batting

## TOTAL RUNS SCORED BY SR TENDULKAR IN IPL (2008 - 2017)

In [ ]:
srt['total_runs'].sum() - 206 #total runs by sachin